body {
display: flex;
margin: 0;
flex-direction: column;
min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  main > *, footer {
    margin: 4px;
    padding: 7px;
    border-radius: 7px;
  }
main {
    display: flex;
    flex-basis: 800px;
  }
#contact:hover{
  border-bottom: 2px solid #cccccc;

  }
#mainheader {
    text-align: center;
    font-size: 30px;
    
  }
  #money{
    color: rgb(69, 202, 69);
  }
  #money:hover{
font-size: xx-large;
  }
  article {
    flex: 4 0 60%;
    border: 1px solid #56baed;
    text-align: center;
    flex-wrap: wrap;
    color: #838080;
  }
  nav {
    text-align: center;
    flex: 1 1 20%;
    border: 1px solid #56baed;
    order: -1;
    color: #838080;
  }
  aside {
    text-align: center;
    flex: 1 1 20%;
    border: 1px solid #56baed;
    color: #838080;
    
  }
  footer{
    display: flex;
    border: 1px solid #56baed;
    flex-basis: 100px;
   
  }
#pin{
  color: rgb(245, 133, 152);
}
#owner{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mainIcon{
  font-size: xx-large;
}
#logout{
  font-size: xx-large;

}
.example-spacer {
    flex: 1 1 auto;
  }

.mat-toolbar {
    background-color: #56baed;
    color:white;
}
#title {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
input{
    align-content: center;
} 
/* .slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
/* Older browser support - .no-cssanimations class added by modernizr */
/* .no-cssanimations .slideshow li {
opacity: 1;
} */ 